<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <h2><%= "Invite to Friendship" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <%= invitation_button(@user) %>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  <hr>
  <%= show_pending_invitations(@user) %>
</section>
